:root {
    --color-primary: #54b69b;
    --color-hover: #5ac3a6;
}

.body {
    --bs-bg-opacity: 1;
    background-color: #FFC901 !important;
    background-image: linear-gradient(to bottom right, #f6df3c1f, #FFFFFF); /* Degradê diagonal */
    background-size: 100% 100%; /* Isso fará com que o degradê cubra metade da altura do elemento pai */
}

.container-img-logo{
    display: flex;
    justify-content: center;
}

.img-logo {
    width: 12rem;
    display: inline-block;
}

.navbar-logo {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-login {
    padding: 0.7rem 3rem;
    background-color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}

.btn-login:hover {
    background-color: var(--color-hover) !important;
    color: #ffffff;
}

.card-dash {
    margin-top: 2rem;
    background: linear-gradient(10deg, #f5de3e 3%, #a6dbd9 88%, #1bb99a);
    font-weight: bold;
    color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card-dash a {
    color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.btn-dash {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    text-decoration: none;
    font-weight: 500;
    padding:3px;
}

.btn-dash:hover {
    background-color: var(--color-hover);
    color: #ffffff;
}

.btn-delete {
    padding: 0.7rem 5rem;
    background-color: #b81414;
    border: 1px solid #b81414;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 2rem;
}

#container-btn{
    display: flex;
    flex-direction: row;
}

.color-card {
    background: linear-gradient(47.09deg, var(--color-primary) .72%, rgba(166, 219, 217, .4) 72.48%) !important;
    padding: 1.3rem;
}

.disabled-link {
    pointer-events: none; /* Impede cliques */
    color: gray; /* Altera a cor para indicar que está desativado */
    text-decoration: none; /* Remove sublinhado */
    cursor: default; /* Remove o cursor de link */
}



