.body {
    --bs-bg-opacity: 1;
    background-color: #FFC901 !important; /*background-image: linear-gradient(to bottom, #FFC901, #FFFFFF); /* Degradê vertical */
    background-image: linear-gradient(to bottom right, #FFC901, #FFFFFF); /* Degradê diagonal */
    background-size: 100% 100%; /* Isso fará com que o degradê cubra metade da altura do elemento pai */
}

.container-img-logo{
    display: flex;
    justify-content: center;
}

.img-logo {
    width: 12rem;
    display: inline-block;
}

.navbar-logo {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-login {
    padding: 0.7rem 5rem;
    background-color: #1bb99a;
    border: 1px solid #1bb99a;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #1fd7b2;
    color: #ffffff;
}

.card-dash {
    margin-top: 2rem;
    background: linear-gradient(10deg, #f5de3e 3%, #a6dbd9 88%, #1bb99a);
    font-weight: bold;
    color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card-dash a {
    color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.btn-dash {
    background-color:#aedbc9;
    border: 1px solid #aedbc9;
    border-radius: 5px;
    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    text-decoration: none;
}

.btn-dash:hover {
    background-color: #1fd7b2;
    color: #ffffff;
}

.btn-delete {
    padding: 0.7rem 5rem;
    background-color: #b81414;
    border: 1px solid #b81414;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 2rem;
}

#container-btn{
display: flex;
flex-direction: row;
}

